In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("Iris.csv")

In [8]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.tail(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
df.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
85,86,6.0,3.4,4.5,1.6,Iris-versicolor
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
149,150,5.9,3.0,5.1,1.8,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica

In [11]:
df.size

900

In [12]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [13]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [14]:
df.info

<bound method DataFrame.info of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [15]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [16]:
s1_max, s1_min = max(df['SepalLengthCm']),min(df['SepalLengthCm'])

In [17]:
print("Maximum sepal Length is",s1_max)
print("Minimum sepal Length is",s1_min)

Maximum sepal Length is 7.9
Minimum sepal Length is 4.3

In [18]:
s2_max, s2_min = max(df['SepalWidthCm']),min(df['SepalWidthCm'])

In [19]:
print("Maximum Sepal Width is:",s2_max)
print("Minimum Sepal Width is:",s2_min)

Maximum Sepal Width is: 4.4
Minimum Sepal Width is: 2.0

In [20]:
s3_max, s3_min = max(df['PetalLengthCm']),min(df['PetalLengthCm'])

In [21]:
print("Maximum Petal Length is:",s3_max)
print("Minimum Petal Length is:",s3_min)

Maximum Petal Length is: 6.9
Minimum Petal Length is: 1.0

In [22]:
s4_max, s4_min = max(df['PetalWidthCm']),min(df['PetalWidthCm'])

In [23]:
print("Maximum Petal Width is:",s4_max)
print("Minimum Petal Width is:",s4_min)

Maximum Petal Width is: 2.5
Minimum Petal Width is: 0.1

In [24]:
import numpy as np

In [25]:
s1_med, s1_mean = np.median(df['SepalLengthCm']), np.mean(df['SepalLengthCm'])

In [26]:
s2_med, s2_mean = np.median(df['SepalWidthCm']),np.mean(df['SepalWidthCm'])

In [27]:
s3_med, s3_mean = np.median(df['PetalLengthCm']),np.mean(df['PetalLengthCm'])

In [28]:
s4_med, s4_mean =np.median(df['PetalWidthCm']),np.mean(df['PetalWidthCm'])

In [29]:
print("Mean and Median of all columns respectively:",s1_mean,s1_med,s2_mean,s2_med,s3_mean,s3_med,s4_mean,s4_med)

Mean and Median of all columns respectively: 5.843333333333334 5.8 3.0540000000000003 3.0 3.758666666666666 4.35 1.1986666666666668 1.3